body { /* General */
	
}

h1 { /* Page Title */
	text-align: center;
}

h2 { /* Headings */
	font-style: italic;
}

h3 { /* Small headings */
	font-size: 12pt;
}

p { /* Paragraphs */
	
}

img {
	height:16px;
}
